<!-- product entry application -->
<!-- ================================== -->

<!-- <app-productentry></app-productentry> -->



<!-- customer -->
<!-- ======================================== -->

<!-- <app-customer></app-customer> -->

<!-- sellers -->
<!-- =============================== -->
<!-- <app-registeration></app-registeration> -->


<!-- cicle,square,rectangle -->
<!-- ============================ -->
<!-- <app-crs></app-crs> -->


<!-- ADMIN COMPONENT REACTIVE FORMS -->
<!-- ==================== -->
<!-- <app-admin></app-admin> -->

<!-- validation in reactive formms -->
<!-- ============================= -->
<!-- <app-reactiveformsvalidation></app-reactiveformsvalidation> -->


<!-- <app-userdata></app-userdata> -->


<!-- SERVICE -->
<!-- ====================== -->
<!-- <app-main></app-main>
<app-test></app-test>-->

<!-- <app-product></app-product>  -->

<!-- ===================================================================== -->
<!-- link -->
<!-- ================= -->
<!-- <div>
<a [routerLink]="['/product']">product</a>
</div>
<div>
<a [routerLink]="['/customer']">customer</a>
</div> -->


<!-- ====================================== -->
<!-- productproject -->
<!-- ===================================== -->
 <app-productproject></app-productproject>

 <!-- <app-cart></app-cart>  --><!-- link ullathukondu vedaaa-->
<app-cregisteration></app-cregisteration>


<!-- ============================================ -->
 <!-- link in productproject name as view -->
 <!-- ==================================== -->
<div>
   
 <button style="background-color: cornflowerblue"><h1><a [routerLink]="['/cart']">view</a></h1></button>

</div>


<!-- ========================================= -->
<!-- animations -->
<!-- =============================== -->
<!-- <app-imageanimation></app-imageanimation> -->
<router-outlet></router-outlet>






 