


<select name="" id="" (onchange)="draw1()">
    <option value="circle">circle</option>
    <option value="rectangle">rectangle</option>
    <option value="square">square</option>
</select>
<div>
    <canvas id="rec" width="200" height="100"></canvas>
</div>
<!--     
    <canvas id="rectangle" width="200" height="100" style="border: 10px solid"></canvas>

    <canvas id="square" width="200" height="200" style="border: 10px solid"></canvas> -->

    <!-- <canvas id="circle" width="200" height="100"></canvas> -->
